@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 400 800; /* rango de peso */
  font-stretch: 75% 125%; /* rango de anchura opcional */
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
  display: block;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-family: var(--ff-primary, system-ui, sans-serif);
  line-height: var(--lh-2);
}

h1,
h2,
h3 {
  margin: 0;
  line-height: var(--lh-1);
}

:root {
  --clr-neutral-300: 252 6 83;
  --clr-neutral-500: 245 15 58;
  --clr-neutral-700: 245 19 35;
  --clr-neutral-900: 248 70 10;
  --clr-primary-500: 7 86 67;
  --clr-primary-700: 7 71 60;
  --clr-gradient: 90deg, hsl(var(--clr-primary-500)), white;

  --ff-primary: "Inconsolata";

  --fs-3xl: 3.75rem;
  --fs-2xl: 2.375rem;
  --fs-xl: 2rem;
  --fs-lg: 1.5rem;
  --fs-base: 1.25rem;
  --fs-md: 0.875rem;
  --fs-sm: 0.6875rem;

  --fw-1: 400;
  --fw-2: 500;
  --fw-3: 700;
  --fw-4: 800;

  --lh-1: 1.1;
  --lh-2: 1.2;

  --ls-1: -0.03em;
  --ls-2: -0.05em;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: hsl(var(--clr-primary-500));
}
