---
import Button from "../components/button.astro";
import Form from "../components/form";
import Text from "../components/text.astro";
import Title from "../components/title.astro";
import Root from "../layouts/root.astro";
---

<Root>
  <div class="hero-container container text-center">
    <Title as="h1">Your Journey to Coding Conf 2025 Starts Here!</Title>
    <Text>Secure your spot at next year’s biggest coding conference.</Text>
  </div>
  <div class="container form-container">
    <Form client:load>
      <Button>Generate my ticket</Button>
    </Form>
  </div>
</Root>

<style>
  .form-container {
    --max-width: 28rem;
  }

  .hero-container {
    margin-bottom: 2.5rem;

    @media (width >= 48rem) {
      margin-bottom: 3rem;
    }

    & > *:first-child {
      margin-bottom: 1.5rem;

      @media (width >= 48rem) {
        margin-bottom: 2rem;
      }
    }
  }
</style>
