---
import Button from "../components/button.astro";
import Form from "../components/form";
import Logo from "../components/logo.astro";
import Text from "../components/text.astro";
import Title from "../components/title.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header class="header | text-center">
      <Logo />
    </header>
    <main class="main">
      <div class="hero-container container text-center">
        <Title as="h1">Your Journey to Coding Conf 2025 Starts Here!</Title>
        <Text>Secure your spot at next year’s biggest coding conference.</Text>
      </div>
      <div class="container form-container">
        <Form client:load>
          <Button>Generate my ticket</Button>
        </Form>
      </div>
    </main>
  </body>
</html>

<style>
  .header {
    padding-block: 2rem;

    @media (width >= 48rem) {
      padding-block: 2.5rem;
    }
  }

  @media (width >= 48rem) {
    .main {
      margin-top: 2rem;
    }
  }

  .form-container {
    --max-width: 28rem;
  }

  .hero-container {
    margin-bottom: 2.5rem;

    @media (width >= 48rem) {
      margin-bottom: 3rem;
    }

    & > *:first-child {
      margin-bottom: 1.5rem;

      @media (width >= 48rem) {
        margin-bottom: 2rem;
      }
    }
  }
</style>
