---

---

<span class="highlight"><slot /></span>

<style>
  .highlight {
    background: linear-gradient(var(--clr-gradient, currentColor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
