---

---

<p><slot /></p>

<style>
  p {
    font-weight: var(--fw-1);
    font-size: var(--fs-base);
    letter-spacing: var(--ls-1);

    @media (width >= 48rem) {
      font-size: var(--fs-lg);
    }
  }
</style>
