---
import Logo from "../components/logo.astro";

import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Mentor | Conference ticket generator</title>
  </head>
  <body class="bg-decoration">
    <header class="header | text-center">
      <Logo />
    </header>
    <main class="main">
      <slot />
    </main>
  </body>
</html>

<style>
  .header {
    padding-block: 2rem;

    @media (width >= 48rem) {
      padding-block: 2.5rem;
    }
  }

  @media (width >= 48rem) {
    .main {
      margin-top: 2rem;
    }
  }

  .bg-decoration {
    --bg-1-size: 50%;
    --bg-1-position: top right;
    --bg-2-image: url("/pattern-squiggly-line-bottom-mobile-tablet.svg");
    --bg-2-size: 100%;
    --bg-4-position: center right -110px;
    --bg-5-image: url("/background-mobile.png");

    background-color: black;
    background-image:
      url("/pattern-squiggly-line-top.svg"), var(--bg-2-image),
      url("/pattern-lines.svg"), url("/pattern-circle.svg"), var(--bg-5-image);
    background-size: var(--bg-1-size), var(--bg-2-size), cover, auto, cover;
    background-position:
      var(--bg-1-position),
      bottom left,
      top,
      var(--bg-4-position),
      top;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;

    @media (width > 28rem) {
      --bg-2-size: 60%;
      --bg-5-image: url("/background-tablet.png");
    }

    @media (width > 48rem) {
      --bg-1-size: 40%;
      --bg-1-position: top 5rem right;
      --bg-2-image: url("/pattern-squiggly-line-bottom-desktop.svg");
      --bg-2-size: 50%;
      --bg-5-image: url("/background-desktop.png");
      --bg-4-position: center left 75%;
    }
  }
</style>
